<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
           address="http://localhost:9001/RevitExternalService"
           binding="basicHttpBinding"
           contract="RevitExternalAccessDemo.IRevitExternalService"
           name="IRevitExternalService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>